container.container-sm
  .mt-xl
    // START panel
    //img.center-block.img-rounded(src='app/img/logo-gray.png', alt='Image')
    .col-md-4
    .col-md-4.animated.fadeInLeft2
      .panel
        .panel-body(ng-if="!data.verificado")
          |Precisamos confirmar algumas informações antes de prosseguir. 
          |Informe seu eMail e CPF.
          form.form-validate(role='form', name="frmVerificacao").mb-lg.p
            .row
              .form-group.has-feedback.mb
                input.form-control(type='email', placeholder='e-Mail', autocomplete="off", ng-model="data.email", required='')
                span.fa.fa-envelope-o.form-control-feedback.text-muted
              br
              .form-group.has-feedback
                input.form-control(type='text', ng-model="data.cpf", ui-mask='999.999.999-99', required='')
                span.fa.fa-credit-card.form-control-feedback.text-muted
              .form-group
                .col-md-6
                  button.btn.btn-block.btn-info(type='button', 
                    ng-click="verificar()", 
                    ng-disabled="frmVerificacao.$invalid") Verificar
                .col-md-6
                  a.btn.btn-block.btn-default(type='button', ui-sref='app.login', href="") Cancelar
        .panel-body(ng-if="data.verificado")
          |Olá
          strong {{data.nomeUsuario}},
          |&nbsp;agora informe sua nova senha (mínimo de 6 caracteres) nos campos abaixo para concluir o procedimento.
          br
          br
          |Logo que o sistema concluir a alteração da senha, você será redirecionado automaticamente para a
          |página inicial do PEMS.
          form.form-validate(role='form', name="frmTrocaSenha").mb-lg.p
            .row
              .form-group.has-feedback.mb
                input.form-control(type='password', 
                  placeholder='Sua nova senha', 
                  autocomplete="off", 
                  ng-model="data.senha1", 
                  required=''
                  ng-minlength="6")
                span.fa.fa-key.form-control-feedback.text-muted
              br
              .form-group.has-feedback.mb
                input.form-control(type='password', 
                  placeholder='Novamente a senha', 
                  autocomplete="off", 
                  ng-model="data.senha2", 
                  required='',
                  ui-validate="'$value==data.senha1'"
                  ng-minlength="6")
                span.fa.fa-key.form-control-feedback.text-muted
              .form-group
                .col-md-6
                  button.btn.btn-block.btn-info.mb(type='button', 
                    ng-click="trocar()", 
                    ng-disabled="frmTrocaSenha.$invalid") Alterar e entrar
                .col-md-6
                  a.btn.btn-block.btn-default(type='button', ui-sref='app.login', href="") Cancelar